<div>
    <form #usuarioform = "ngForm" (ngSubmit) = "logarUsuario(usuarioform)">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Username" [(ngModel)]="newUsuario.username" name = "username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="newUsuario.password" name = "password" >
            <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid">
            <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
        </div>
    </form>
</div>