<div class="container">
    <form class="form fields" #usuarioform="ngForm" (ngSubmit)="logarUsuario(usuarioform)">
        <div>
            <div>
                <div>
                    <input type="text" id="floatingInput" placeholder="Username" [(ngModel)]="newUsuario.username"
                        name="username">
                    <label for="floatingInput"></label>
                </div>
                <div>
                    <input type="password" id="floatingPassword" placeholder="Password"
                        [(ngModel)]="newUsuario.password" name="password">
                    <label for="floatingPassword"></label>
                </div>
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
            <div>
                <button type="button" (click)="criarUsuario(usuarioform)">Criar conta</button>
            </div>
        </div>
    </form>
</div>